{% extends "layout.html" %}

{% block content %}
<script>
    var data = {{ data | tojson }} 

    $(document).ready(function() {
        
    });
    
</script>  

<div class="container-fluid danceTab">
    <h1>Dance</h1>
    <h2>Learn about a select few dances of Afro-Cuban Culture.  Remember this is just the tip of the iceburg! </h2>
    <div>
        <div class="danceNav">
            <a href="#elegua"><div class="cards" id="eleguaCard">Elegua</div></a>
            <a href="#salsa"><div class="cards" id="oshunCard">Oshun</div></a>
            <a href="#salsa"><div class="cards" id="oggunCard">Oggun</div></a>
            <a href="#salsa"><div class="cards" id="rumbaCard">Rumba</div></a>
            <a href="#salsa"><div class="cards" id="sonCard">Son</div></a>
            <a href="#salsa"><div class="cards" id="salsaCard">Cuban Salsa (Rueda de Casino)</div></a>
        </div>
        
        <div id="elegua">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/2hw84XNi3GY">
            </iframe>
            <div>Elegua is the orisha of roads and paths.  He is known to be a trickster who opens the crossroads of life.  A dancer performing his dance would typically carry a red and black cane — colors closely associated with Elegua.  An Elegua performance should be filled with bold and surprising movements, to emphasize the characteristics of Elegua.  A common move in this dance involves the dancer kicking out their feet while spreading their arms wide, then sweeping their cane through the air as they bring their feet back in, symbolizing Elegua opening and closing paths.
            </div>
        </div>
        <div id="oshun">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/2yFUouzE7Yk">
            </iframe>
            <div>Oshun is the Orisha of love, water, and fertility, symbolizing grace and beauty. She is traditionally adorned in gold, from her clothing to her jewelry, reflecting her radiant and regal nature. Oshun's dances are sensual and feminine, celebrating her elegance and beauty. A signature movement involves the dancer gathering their golden skirt in their hands and twirling in a full circle, highlighting Oshun’s femininity.</div>
        </div>
        <div id="oggun">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/8bZk1m25Kfc">
            </iframe>
            <div>Oggun is a warrior and the orisha who presides over iron, forests, and woodlands.  He is depicted as either a blacksmith or a warrior holding a sword and a shield.  He is characterized as rigid and strong, with his signature move reflecting this. This move involves the dancer making a chopping motion with one hand while simultaneously kicking the opposite foot back and forth, symbolizing Oggun clearing a path for his people by cutting through branches.</div>
        </div>
        <div id="rumba">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/Wi7FFypHLpM">
            </iframe>
            <div>Rumba is the most famous and influential afro-Cuban secular dance.  It is divided into three main dances: the guaguancó (a flirtatious couple dance), yambú (a slower couple dance) and columbia (an acrobatic solo male dance).  This entertainment genre performed at parties, mostly in urban, lower-class black neighborhoods.  The guaguancó style particularly emphasizes, often featuring a playful interaction where the male partner attempts a provocative thrusting move, while the female partner skillfully counters by shielding her pelvis with her skirt.</div>
        </div>
        <div id="son">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/0dEbmylqW30">
            </iframe>
            <div>The son is considered a precursor to salsa. This dance is traditionally performed in formal settings, emphasizing grace and elegance. Men and women dress in their finest attire, adding to the refined atmosphere. Unlike salsa, the son follows a distinct rhythmic pattern, with pauses occurring on the first and fifth beats rather than the fourth and eighth. The dance also highlights defined gender dynamics, featuring playful and flirtatious movements between partners. A signature move of the son involves the male partner showcasing his strength by crouching and balancing on one foot while the female partner twirls around him in circles.</div>
        </div>
        <div id="salsa">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/7xpjG-mV5qc">
            </iframe>
            <div>Rueda de Casino, or Cuban Salsa, translates to "casino wheel," hinting at its distinctive style compared to New York-style salsa. In this dance, participants form a circle with their partners and perform salsa moves in a synchronized, circular motion. A designated leader within the circle calls out commands, signaling specific moves for all couples to dance. Common moves include the Enchufla, where the follower passes under the lead’s arm, and the Montaña, a complex move that is challenging to describe in words.            </div>
        </div>
    </div>
</div>
{% endblock %}
