{% extends "layout.html" %}

{% block content %}
<script>
    var data = {{ data | tojson }} 

    $(document).ready(function() {
        
    });

    function redirectToMusic() {
        window.location.href = "/music";
    }
    
</script>  

<div class="container-fluid homeTab">
    <div class="top">
        <h1>Exploring Afro-Cuban Music & Dance</h1>
        <div class="row">
            <div class="col-sm-6">
                <p>Immerse yourself in the vibrant culture of Afro-Cuban music and dance! This educational website celebrates the cultural and historical connections between Cuban music, dance, and instruments and their African roots, particularly those from Yoruba tribes. Discover the rhythms, movements, and instruments that showcase the enduring legacy of the African diaspora in Cuba.</p>
            </div>
            <div class="col-sm right">
                <button onclick="redirectToMusic()">Get Started!</button>
                <p>Or click on the sections below to learn more!</p>
            </div>
        </div>
    </div>
    
    <div class="navstuff">
        <div class="row items">
            <a href="music" class="col-sm">
                <div class="homeCard">
                    <img src="../static/assets/img/drums.jpeg">
                    <h4>MUSIC</h4>
                </div>
            </a>
            <a href="dance" class="col-sm">
                <div class="homeCard">
                    <img src="../static/assets/img/dancers.jpg">
                    <h4>DANCE</h4>
                </div>
            </a>
            <a href="/" class="col-sm">
                <div class="homeCard">
                    <img src="../static/assets/img/clave.jpg">
                    <h4>INSTRUMENTS</h4>
                </div>
            </a>
        </div>
        </div>
    </div>
</div>
{% endblock %}
