{% extends "layout.html" %}

{% block content %}
<script>
    var data = {{ data | tojson }} 

    $(document).ready(function() {
        
    });
    
</script>  

<div class="container-fluid homeTab">
    <div class="top">
        <h1>About Us</h1>
        <p>Our website celebrates the rich tapestry of Cuban traditional music and dance, with a deep focus on exploring the profound Afro-Cuban musical heritage and its vibrant roots in West African cultural traditions. We aim to illuminate the intricate musical dialogues that connect the rhythms of West Africa to the dynamic sounds of Cuba, showcasing how these cultural exchanges have shaped one of the world's most influential musical traditions.</p>
        <p>Click on the sections below to learn more!</p>
    </div>
    
    <hr/>
    <div class="navstuff">
        <div class="row items">
            <a href="music">
                <div class="col homeCard">
                    <img src="../static/assets/img/drums.jpeg" width="250px">
                    <br>
                    <br>
                    <h4>MUSIC</h4>
                </div>
            </a>
            <a href="dance">
                <div class="col homeCard">
                    <img src="../static/assets/img/dancers.jpg" width="250px">
                    <br>
                    <br>
                    <h4>DANCE</h4>
                </div>
            </a>
            <a href="/">
                <div class="col homeCard">
                    <img src="../static/assets/img/clave.jpg" width="200px">
                    <br>
                    <br>
                    <h4>INSTRUMENTS</h4>
                </div>
            </a>
        </div>
        </div>
    </div>
</div>
{% endblock %}
