{% extends "layout.html" %}

{% block content %}
<script>
    var data = {{ data | tojson }} 

    $(document).ready(function() {
        
    });
    
</script>  

<div class="container-fluid">
    <h2>About Us</h2>
    <p>This project is an educational website that highlights the cultural and historical connections between Cuban music and their African roots, particularly from Yoruba, Nago, and Daomi tribes. We aim to celebrate the African diaspora's impact on Cuban culture and broaer understanding of these connections. </p>
    <p>Click on the sections below to learn more!</p>
    <hr/>
    <div class="navstuff">
        <div class="row align-items-center">
            <a href="music">
                <div class="col">
                <img src="../static/assets/img/drums.jpeg" width="250px">
                <br>
                <br>
                <h4>MUSIC</h4>
                </div>
            </a>
            <a href="dance">
                <div class="col">
                <img src="../static/assets/img/dancers.jpg" width="250px">
                <br>
                <br>
                <h4>DANCE</h4>
                </div>
            </a>
            <div class="col">
            <img src="../static/assets/img/clave.jpg" width="200px">
            <br>
            <br>
            <h4>INSTRUMENTS</h4>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
